# tests
coverage==6.2; python_version<'3.7'
coverage==7.2.7; python_version>='3.7' and python_version<'3.8'
coverage==7.6.0; python_version>='3.8'
# checks
flake8==7.1.0
mypy==1.11.0
types-PyYAML==6.0.12.20240724
types-setuptools==71.0.0.20240722
