name: tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  generate-matrix:
    uses: solaluset/python-version-matrix/.github/workflows/generate.yml@v1.0
    with:
      runners: '[
        "ubuntu-latest"
      ]'
      min-version: "3.8"
      include-pre-releases: true
      implementations: '["CPython", "PyPy"]'

  run-tests:
    needs: [generate-matrix]
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    env:
      OS: ${{ matrix.runner }}
      PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run tests
        run: python dev-helper.py run-tests
      - name: Upload coverage
        # PyPy data isn't reliable because it changes trace function
        if: "!startsWith(matrix.python-version, 'pypy')"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          COVERALLS_SERVICE_NAME: github-actions
        run: |
          set +e
          pip install -r requirements/coveralls.txt && coveralls
          code=$?
          if [ "$GITHUB_HEAD_REF" != "master" ]; then
            exit 0
          fi
          exit $code

  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Run checks
        run: python dev-helper.py run-checks
